<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Líder abusivo</title>
     <script src='./js/vue.js'></script>
     <script src='./js/axios.min.js'></script>
     <script src='./js/socket.io.js'></script>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="./css/main.css">
</head>
     <body style="background-color: #d2dae2;">
          <div id="app">
               <div class="pt-4 pb-3" style="background-color: #0fbcf9;">
                    <div class="float-right mr-3" style="background-color: #d2dae2; border-radius:10px;">
                         <h4 class="text-info p-2">Soy el nodo con id {{ myId }}</h4>
                    </div>
                    <div class="container">
                         <br>
                         <br>
                         <div class="d-block float-center text-center">
                              <h1 class="mt-2" style="font-size: 50px; color: #075C7A; font-family: 'Roboto', sans-serif;">BULLY LEADER</h1>
                         </div>
                         <div class="text-center row">
                              <div class="col-md-4"></div>
                              <div class="col-md-4">
                                   <div v-if="myId == liderId" class="mt-2">
                                        <h5 class="text-light">Actualmente soy el líder</h5>
                                        <button class="btn font-bold py-2 px-4 rounded text-light" v-on:click="changeLeader()" style="background-color: #075C7A;">Dejar de ser el líder</button>
                                   </div>
                                   <div v-else-if="!liderId">
                                        <h5 class="text-light">Actualmente no hay lider asignado</h5>
                                   </div>
                                   <div v-else-if="liderId == -1">
                                        <h5 class="text-light">Acabo de renunciar, ya no hago parte del algoritmo</h5>
                                   </div>
                                   <div v-else class="mt-2">
                                        <h5 class="text-light">El lider es el nodo con id {{ liderId }}</h5>
                                   </div>
                              </div>
                         </div>
                    </div>    
               </div>
               <div class="pt-3 pb-3" style="background-color: #d2dae2;">
                    <div class="container">
                         <div class="table-wrapper-scroll-y my-custom-scrollbar">
                              <table class="table table-secondary table-striped table-bordered">
                                   <thead class="bg-dark text-light">
                                     <tr>
                                       <th scope="col" class="text-center">Tiempo</th>
                                       <th scope="col" class="text-center">Lider</th>
                                       <th scope="col" class="text-center">Informa</th>
                                       <th scope="col" class="text-center">Renuncia</th>
                                     </tr>
                                   </thead>
                                   <tbody class="text-center">
                                        <tr v-for="item in rowData">
                                             <!--fix-->
                                             <td>{{item.time}}</td>
                                             <td>{{item.leader}}</td>
                                             <td>{{item.informant}}</td>
                                             <td>{{item.giveup}}</td>
                                        </tr>                           
                                   </tbody>
                              </table>
                         </div>
                         
                    </div>
               </div>
          </div>       
          
     
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
          <script src='./js/client.js'></script>
     </body>
</html>